*.psd filter=lfs diff=lfs merge=lfs -text
*/LightingData.asset[[:space:]] filter=lfs diff=lfs merge=lfs -text
*/LightingData.asset[[:space:]]Assets/Scenes/My_world/LightingData.asset filter=lfs diff=lfs merge=lfs -text
